.selected-item {
  .go-back {
    display: none;
    a {
      display: flex;

      align-items: center;

      text-decoration: none;
      color: orange;

      padding: 0.5em;
      border: 1px solid orange;
      border-radius: 0.25em;

      .back-icon {
        display: inline-block;
        border: .5em solid transparent;
        border-right-color: orange;
      }

      .text {
        padding: 0 1em;
      }


    }
  }

  flex: 1;

  display: flex;
  flex-direction: column;

  margin: 1em;
  padding: 1em;

  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;

  box-shadow: 0 0 1em 1em lightgray;

  border-radius: 0.5em;

  .spacer {
    flex: 1;
  }
}

.no-item-selected {
  margin: auto;
}

@media screen and (max-width: 640px) {
  .go-back {
    display: flex !important;
    align-items: center;
  }
}
